extends layout

block scripts
    script(src='javascripts/updateCurrentWeatherInformation.js')

block content
    .dashboard-container
        img(src='/images/profile-pictures/person1.jpg')#profile-picture
        h1.dashboard-title Your name's dashboard
        button#logout.login-button Logout
    .dashboard-container.weather-container
        button(onclick='updateCurrentWeatherInformation()') Get current temperature
        p#temperatureInfo