extends layout

block scripts
    script(src='/javascripts/easter-egg.js')

block content
    .full-page-main.flex-center-container
        .homepage-content
            h1 Welcome to this weather website
                span(onclick='changeEmoji()')#weatherEmoji ☀️
            p This website is a university project for the course "Programming". It is a simple weather website that uses th OpenWeather API to display the weather for a given city
            p please authenticate yourself to continue.
            a(href='/login') Login

