body {
    margin: 0;
}

.flex-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-page-main {
    height: 100vh;
    width: 100vw;
}

.homepage-content {
    width: 40rem;
    height: 20rem;
}

.login-form {
    width: 25rem;
    height: 20rem;
    background-color: #cccccc;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

input[type=text],input[type=password] {
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
}

label {
    margin-bottom: 0.5rem;
}

.login-button {
    width: 5rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

#password-toggle {
    margin-top: -1.8rem;
    position: relative;
    left: 8rem;
}

.dashboard-container {
    width: 60%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-title {
    width: 50%;
    text-align: center;
    display: inline-block;
}

#profile-picture {
    width: 5rem;
    border-radius: 50%;
}

.flex-column {
    flex-direction: column;
}

#temperature-info {
    line-height: 2;
}

#weather-image-container {
    width: 20rem;
    height: 10rem;
}

#weather-image-container > img {
    width: 100%;
}

#error-message {
    width: 23rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: #ffa59c;
    color: #a20000;
    text-align: center;
    line-height: 2rem;
    border-radius: 5px;
}